img {
    display: block !important;
    margin: 0 auto !important;
    text-align: center !important;
}

table {
  border: none !important;
  border-collapse: collapse !important;
  border-color: transparent !important;
}

/* remove padding */
td, th {
    padding: 0 !important;
}

.well blockquote, .rendered_html blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
.rendered_html blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.rendered_html blockquote p {
  display: inline;
}
